{% extends "../base_admin.html" %}
{% block title %}Product page{% endblock title %}
{% block content %}
<h1 class="text-center">Product management</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pro 1</td>
        <td>T-shirt</td>
        <td>image</td>
        <td>$ 500</td>
        <td>
            desc ........
        </td>
        <td>
            <a class="btn btn-info">edit</a>
            <a class="btn btn-danger">delete</a>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock content %}