{% extends "../base_admin.html" %}
{% block title %}Product page{% endblock title %}
{% block content %}
<h1 class="text-center">Product management</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>

    <tbody>
      {% for pro in products %}
        <tr>
          <th scope="row">1</th>
          <td>{{pro.name}}</td>
          <td>{{pro.category}}</td>
          <td>image</td>
          <td>$ {{pro.price}}</td>
          <td>{{pro.description}}</td>
          <td>
            <form method="POST" action="{% url "product.delete" product_id=pro.id %}">
              {% csrf_token %}
                <a class="btn btn-info" href="{% url "product.edit" pro.id %}">edit</a>
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url "product.create" %}" class="btn btn-primary">Create</a>
{% endblock content %}